.todo-list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #eee;
  border-radius: 4px;
  margin-bottom: 5px;
}

.todo-list-item > span:hover {
  cursor: pointer;
}

span:focus {
  outline: none;
}

.selected:host-context li {
  background-color: #e2ebdd;
}

.form-field {
  flex: 1;
}

.button-container {
  display: flex;
}

.todo-list-item__text {
  flex: 1;
}
