<mat-card class="todo-list-card">
  <mat-card-header>
    <mat-card-title>
      <h1>Todo List</h1>
    </mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <ng-template [ngIf]="isLoading" [ngIfThen]="loading" [ngIfElse]="ready"></ng-template>
    <ng-template #loading>
      <app-spinner />
    </ng-template>
    <ng-template #ready>
      <app-to-do-filter [value]="filter" (valueChange)="filterChange($event)" />
      <div class="todo-list-container">
        <ul class="todo-list">
          <app-to-do-list-item
            *ngFor="let item of filteredTaskItems()"
            [class.selected]="item.id === selectedItemId"
            [text]="item.text"
            [status]="item.status"
            (changeStatusEvent)="updateTaskStatus(item.id, $event)"
            [inlineEdit]="inlineEditItemId === item.id"
            (deleteEvent)="delTask(item.id)"
            (selectEvent)="selectTask(item.id)"
            (inlineEditEnterEvent)="inlineEditEnter(item.id)"
            (inlineEditSaveEvent)="inlineEditorSave(item.id, $event)"
            (inlineEditCancelEvent)="inlineEditorCancel(item.id)" />
        </ul>
        <div class="todo-list-item__description" *ngIf="selectedItemId !== null">
          {{ selectedDescription() }}
        </div>
      </div>
    </ng-template>
  </mat-card-content>

  <mat-card-footer class="todo-actions">
    <app-to-do-create-item (addTaskEvent)="addTask($event)" />
  </mat-card-footer>
</mat-card>
