.todo-list-card {
  min-width: 400px;
  width: 100%;
}

.todo-list {
  list-style: none;
  padding: 0;
  margin: 0 0 -5px;
  width: 368px;
  max-height: 305px;
  overflow-y: auto;
}

.todo-list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #eee;
  border-radius: 4px;
  margin-bottom: 5px;
}

.todo-actions {
  padding: 16px;
  margin-bottom: -8px;
}

mat-form-field {
  flex-grow: 1;
}

.button--add {
  margin-left: 10px;
}

.todo-list-container {
  display: flex;
}

.todo-list-item__description {
  background-color: #eee;
  border-radius: 4px;
  padding: 10px;
  margin-left: 8px;
  width: 212px;
  text-overflow: ellipsis;
  overflow: hidden;
}
